body {
    background-color:lightblue;
}
.box {
    background-color: white;
}


.hide {
display:none;

}

.whiteandcenter{
    background-color: white;
    text-align: center;
}
.correct{
    background-color: green;
}
.notcorrect{
    background-color: red;
}
