body {
    background-color:lightblue;
}
.box {
    background-color: white;
}
.boxd {
    padding-top: 60px;
    padding-bottom: 30px;
    border:lightblue;
    border-style: solid;
    border-width: 2px;
}
